<div class="media">
    {{#each partials.dataContext.shows}}
        <div class="show">
            <h3>{{business_name}}</h3>
            <h3>{{food_type}}</h3>
            <h3>{{cost_range}}</h3>
            {{map}}
        </div>
    {{/each}}
</div>