
<div class="ui middle aligned center aligned grid">
  <div class="column">
<img class="ui image" href="../img/candycorn.png">
<img class="ui image" href="../img/chocolate.gif">
<img class="ui image" href="../img/lollipop.png">
<img class="ui image" href="../img/gum.png">
  </div>
</div>