 <!-- Header-->
<!-- Logo -->
    <h1 class="logo heading"><a href="../search" class="heading">CheapEats</a></h1> 

<!-- Nav buttons -->
<ul class="nav nav-pills navbar-right">
  <li role="presentation" class="active"><a href="deals/add" class="navbutton">Submit a Deal</a></li>
  <li role="presentation" class="active"><a href="map" class="navbutton">Search the Map</a></li>
</ul>

 <!-- Search bar -->
<form>
<div class="form-group form" style="background-color: #E8A433;">
    <label for="inputlg">What kind of food are you looking for?</label>
    <input class="form-control input-lg" id="inputlg" type="text">
  </div>
    <button class="btn btn-default search" style="margin-left: 45%;" type="submit">Submit</button>
</form>