<!-- Loads each deal -->

<div class="ui cards">
{{#each deals}}

<div class="ui card">
  <div class="image">
    <img src="/uploads/{{imageFilename}}">
  </div>
  <div class="content">
    <a class="header" href="/deals/{{slug}}">{{name}}</a>
    <div class="price">
      ${{price}}.00
    </div>
  </div>
  <div class="extra content">
      <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
</div>
{{/each}}
</div>
