<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class
                </div> 
            </div>
        </form>
    </div>
</div>