<!-- navbar -->
<div class="ui secondary  menu">
        <div class="item">
            <h1 class="logo heading" style="font-family: 'Londrina Solid', cursive; font-size: 48px; 
    color: white;
    margin-left: 3%;
    margin-top: 1%;"><a href="./search" class="heading" style="text-decoration: none;
    color:white;">CheapEats</a></h1>
        </div>
    <div class="right menu">
      <a class="item" href="map">
          Map
      </a>
        <a class="item" href="deals">
          Deals
      </a>
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    {{#if user}}
    <div class="item">
    <a class="ui item" href="profile">
      {{user.username}}
    </a>
    </div>
    <div class="item">
    <a class="ui item" href="logout">
      Logout
    </a>
    </div>
    {{else}}
    <div class="item">
    <a class="ui item" href="login">
      Log in
    </a>
        </div>
    <div class="item">
    <a class="ui item" href="register">
      Register
    </a>
        </div>
    {{/if}}
  </div>
</div>

<div id="map"></div>

<script>
 //creates array and pushes coordinates of all deals
 var places = [];
    {{#each places}}
    {{#each coordinates}}
        places.push( {
            lat: {{lat}},
            lng: {{lng}}
        });
     {{/each}}
     {{/each}}
  
        
    function initMap() {
        //creates map
         var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7128, lng: -74.0059},
          zoom: 12
        });
        
        //creates marker for each deal
        for (var i = 0; i < places.length; i++){
         var marker = new google.maps.Marker({
         position: places[i],
         map: map,
         title: 'Hello World!'
        });
        }
        
        var infoWindow = new google.maps.InfoWindow({map: map});

        // geolocates and centers map
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
            map.setZoom(18);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        
     
    }
         

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Check your browser location settings.');
      }    
     
    </script>

<!-- load google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8U0bbIoGos3lwzUiuNYWAUaKxNOXFMG0&libraries=places &callback=initMap"></script>
