<h1>{{viewName}}</h1>

<form method="post" action="">
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="text" name="password" placeholder="password">
    </div>
    <button type="submit">Submit</button>
</form>