h1{
    font-family: 'Londrina Solid', cursive; font-size: 48px; 
    color: white;
    margin-left: 1%;
}
 body{
    background-color: #E8A433;
    }

#deal{
    background-color: darkgoldenrod;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    
}

#headerBtn{
    margin-top: 0;
    margin-right: 1%;
}

.form{
    background-color: darkgoldenrod;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    
}

.row{
    margin-left: 2%;
    margin-right: 2%;
}